from pytz import timezone

TIME_ZONE = timezone('America/Chicago')

DB_USER = 'datamade'
DB_PW = ''
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_NAME = 'geocoder'

DB_CONN='postgresql+psycopg2://{0}:{1}@{2}:{3}/{4}'\
        .format(DB_USER, DB_PW, DB_HOST, DB_PORT, DB_NAME)

SECRET_KEY = 'super secret key'

# See: https://pythonhosted.org/Flask-Cache/#configuring-flask-cache
# for config options
CACHE_CONFIG = {
    'CACHE_TYPE': 'null',
    'CACHE_REDIS_URL': 'redis://localhost:6379/0',
}

FLUSH_KEY = 'super secret junk'
